$dayBackgroundColor: #eee;
$dayBackgroundColorActive: #ffbfcb;
$dayBorderColor: #000;
$dayBoxHeight: 100px;
$dayBoxWidth: 100px;
$calendarPaddings: 10px;
$calendarGap: 1px;
$movingCellValue: -20px;
$calendarMaxWidth: (7 * $dayBoxWidth) + (6 * $calendarGap);
$dayList: mon, tue, wed, thu, fri, sat, sun;
$slotTotalWidth: $dayBoxWidth + $calendarGap;
$dayOffsetMap: (
  mon: 0,
  tue: 1,
  wed: 2,
  thu: 3,
  fri: 4,
  sat: 5,
  sun: 6,
);
